@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Roboto";
}

/* Navbar */

.navbar{
    --bs-navbar-nav-link-padding-x: 1.5rem;
}

.btn{
    border-radius: 0%;
    padding: 10px 20px;
}

.gb-2{
    background-color: #121229; 
}

/* Borders */
.border-custom{
    border:1px solid #444;
    transition: all 0.4s ease-in-out;
}

.border-custom:hover{
  border-color: var(--bs-orange);
}

/*Service*/
.icon{
    width: 60px;
    height: 60px;
    background-color: #000;
    display: grid;
    align-content: center;
    text-align: center;
    font-size: 32px;
    color: #fff;
    transition: all 0.4s ease-in-out;
}

.icon:hover{
    background-color: var(--bs-orange);
}

.service:hover .icon{
    background-color: var(--bs-orange);
}