@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Roboto";
}

/* Navbar */

.navbar{
    --bs-navbar-nav-link-padding-x: 1.5rem;
}

.btn{
    border-radius: 0%;
    padding: 10px 20px;
}